<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mst.csgateway.mapper.RoleMapper">

    <!-- 根据用户Id查询关联角色码. -->
    <select id="findRolesByUserId" parameterType="long" resultType="string">
        SELECT r.code FROM t_role r
           LEFT JOIN user_role ur ON r.id = ur.role_id
           LEFT JOIN t_user u ON u.id = ur.user_id
        WHERE u.id = #{userId};
    </select>
</mapper>